<header id="header" class="full-header dark">

	<div id="header-wrap">

		<div class="container clearfix">

			<div id="primary-menu-trigger"><i class="icon-reorder"></i></div>

			<!-- Logo
			============================================= -->
			<div id="logo">
				<a href="/" class="standard-logo" data-dark-logo="/wp-content/uploads/img/logo.png"><img src="/wp-content/uploads/img/logo.png" alt="Canvas Logo" ></a>
				<a href="/" class="retina-logo" data-dark-logo="/wp-content/uploads/img/logo.png"><img src="/wp-content/uploads/img/logo.png" alt="Canvas Logo"></a>
				{# <a href="/" class="retina-logo" data-dark-logo="/wp-content/uploads/img/logo.png"><img src="/wp-content/uploads/img/logo.png" alt="Canvas Logo" width="40%" height="10%"></a> #}
			</div><!-- #logo end -->

			<!-- Primary Navigation
			============================================= -->
			<nav id="primary-menu">

				<ul>
					<li><a href="/"><div>About</div></a></li>
					<li><a href="/music"><div>Music</div></a></li>
					<li><a href="/"><div>Events</div></a></li>
					<li><a href="/news"><div>News</div></a></li>
					<li><a href="/"><div>Media</div></a></li>
				</ul>


				<!-- Top Search
				============================================= -->
				<div id="top-search">
					<a href="#" id="top-search-trigger"><i class="icon-search3"></i><i class="icon-line-cross"></i></a>
					<form action="search.html" method="get">
						<input type="text" name="q" class="form-control" value="" placeholder="Type &amp; Hit Enter..">
					</form>
				</div><!-- #top-search end -->

			</nav><!-- #primary-menu end -->

		</div>

	</div>

</header><!-- #header end -->