<section id="slider" class="slider-element full-screen dark" style="background: url({{ post.countdown_image|get_image_by_id }}) center;">
{# |get_image_by_id  #}
	<div class="container-fluid clearfix vertical-middle">

		<div class="heading-block title-center nobottomborder">

			<span>{{ post.countdown_countdown_overtitle }}</span>
			<h1>{{ post.countdown_countdown_title }}</h1>
			<span>{{ post.countdown_countdown_subtitle }}</span>
		</div>

		<div id="countdown-ex1" class="countdown countdown-large coming-soon divcenter bottommargin" style="max-width:700px;"></div>

		<div class="divider divider-center divider-short divider-margin"><i class="icon-time"></i></div>

		<div class="widget-subscribe-form-result"></div>
		{# <form id="widget-subscribe-form" action="include/subscribe.php" method="post" class="nobottommargin">
			<div class="input-group input-group-lg divcenter" style="max-width:600px;">
				<div class="input-group-prepend">
								<div class="input-group-text"><i class="icon-email2"></i></div>
							</div>
				<input type="email" name="widget-subscribe-form-email" class="form-control required email" placeholder="Enter your Email">
				<div class="input-group-append">
					<button class="btn btn-info" type="submit">Subscribe Now</button>
				</div>
			</div>
		</form> #}


	</div>

</section>

<script>

	jQuery(document).ready( function(){
		var newDate = new Date(2019, 9, 31);
		jQuery('#countdown-ex1').countdown({until: newDate});
	});

</script> 