<div class="content-wrap">

	<div class="container clearfix">

		<!-- Posts
		============================================= -->
		<div id="posts" class="post-grid grid-container clearfix" data-layout="fitRows">

			{% for post in news %}
			<div class="entry clearfix">
				{% if post.thumbnail.src %}
				<div class="entry-image">
					<a href="/news/{{ function('generate_friendly_name', post) }}"><img class="image_fade" src="{{ post.thumbnail.src }}" alt="Standard Post with Image"></a>
				</div>
				{% endif %}
				<div class="entry-title">
					{# {{ news|print_r }} #}
					<h2><a href="/news/{{ function('generate_friendly_name', post) }}">{{post.post_title}}</a></h2>
				</div>
				<ul class="entry-meta clearfix">
					<li><i class="icon-calendar3"></i> {{ post.post_date }}</li>
					{# <li><a href="#"><i class="icon-camera-retro"></i></a></li> #}
				</ul>
				<div class="entry-content">
					<p>{{ post.post_content }}</p>
					<a href="/news/{{ function('generate_friendly_name', post) }}"class="more-link">Read More</a>
				</div>
			</div>
			{% endfor %}

		</div><!-- #posts end -->

		<!-- Pagination
		============================================= -->
		<!-- <ul class="pagination nobottommargin">
			<li class="page-item disabled"><a class="page-link" href="#">&laquo;</a></li>
			<li class="page-item active"><a class="page-link" href="#">1</a></li>
			<li class="page-item"><a class="page-link" href="#">2</a></li>
			<li class="page-item"><a class="page-link" href="#">3</a></li>
			<li class="page-item"><a class="page-link" href="#">4</a></li>
			<li class="page-item"><a class="page-link" href="#">5</a></li>
			<li class="page-item"><a class="page-link" href="#">&raquo;</a></li>
		</ul> -->

	</div>

</div>