{# 
<section id="slider" class="slider-element slider-parallax swiper_wrapper full-screen clearfix">
	
	<div class="slider-parallax-inner">
		
		<div class="swiper-container swiper-parent">
			<div class="swiper-wrapper">
				{% set slider = post.slider - 1 %}
				{% for i in 0..slider %}
				{% set slider_image = "slider_" ~ i ~ "_gallery_image" %}
				<div class="swiper-slide dark" style="background-image: url('{{ attribute(post,slider_image)|get_image_by_id }}');">
					<div class="container clearfix">
						<div class="slider-caption slider-caption-center">
							{% set slider_gallery_title = "slider_" ~ i ~ "_gallery_title" %}
							{% set slider_gallery_subtitle = "slider_" ~ i ~ "_gallery_subtitle" %}
							<h2 data-animate="fadeInUp">{{ attribute(post,slider_gallery_title) }}</h2>
							<p class="d-none d-sm-block" data-animate="fadeInUp" data-delay="200">{{ attribute(post,slider_gallery_subtitle) }}</p>
							
							{% set slider_gallery_button_label = "slider_" ~ i ~ "_gallery_button_label" %}
							{% set slider_gallery_button_link = "slider_" ~ i ~ "_gallery_button_link" %}
							<a href="{{ attribute(post,slider_gallery_button_link) }}" class="button button-border button-white button-light button-large button-rounded tright nomargin" style="transition: none 0s ease 0s; text-align: inherit; line-height: 42px; border-width: 2px; margin: 0px; padding: 0px 26px; letter-spacing: 1px; font-weight: 700; font-size: 16px;">
								<span style="transition: none 0s ease 0s; text-align: inherit; line-height: 42px; border-width: 0px; margin: 0px; padding: 0px; letter-spacing: 1px; font-weight: 700; font-size: 16px;">
									{{ attribute(post,slider_gallery_button_label) }}
								</span>
								<i class="icon-angle-right" style="transition: none 0s ease 0s; text-align: inherit; line-height: 16px; border-width: 0px; margin: 0px 0px 0px 5px; padding: 0px; letter-spacing: 1px; font-weight: 400; font-size: 16px;">
								</i>
							</a>
						</div>
					</div>
				</div>
				{% endfor %}
				
				</div>
			</div>
			<div class="slider-arrow-left"><i class="icon-angle-left"></i></div>
			<div class="slider-arrow-right"><i class="icon-angle-right"></i></div>
			<div class="slide-number"><div class="slide-number-current"></div><span>/</span><div class="slide-number-total"></div></div>
		</div>
		
	</div>
	
</section> #}

{% if post.slider is not empty %}

	<section id="slider" class="slider-element clearfix swiper_wrapper" style="background: #131722; height: 800px" data-effect="fade" data-loop="true" data-speed="1000">
			<div class="swiper-container swiper-parent">
				<div class="swiper-wrapper">

				{% set slider = post.slider - 1 %}
					{% for i in 0..slider %}
						
					{% set slider_image = "slider_" ~ i ~ "_gallery_image" %}
					<div class="swiper-slide dark" style="background: url('{{ attribute(post,slider_image)|get_image_by_id }}') no-repeat bottom center; background-size: cover">
						<div class="container clearfix">
							<div class="slider-caption">
							{% set slider_gallery_title = "slider_" ~ i ~ "_gallery_title" %}
							{% set slider_gallery_subtitle = "slider_" ~ i ~ "_gallery_subtitle" %}
								<h2 class="font-primary nott">{{ attribute(post,slider_gallery_title) }}</h2>
								<p class="d-none d-md-block">{{ attribute(post,slider_gallery_subtitle) }}</p>
								<a class="button button-rounded t400 ls1 track-list clearfix" data-track="demos/music/tracks/the-terror-of-highway.mp3" data-poster="demos/music/tracks/poster-images/the-terror-of-highway.jpg" data-title="{{ attribute(post,slider_gallery_title) }}" data-singer="United Album" style="margin-top: 15px"><i class="icon-play"></i>Play Now</a>
								{# <a href="#" class="button d-none d-md-inline-block button-rounded" style="margin-top: 15px; background-color: #1f2330; padding: 0 16px;"><i class="icon-line-ribbon norightmargin"></i></a> #}
								{# <a href="#" class="button d-none d-md-inline-block button-rounded" style="margin-top: 15px; background-color: #1f2330; padding: 0 16px;"><i class="icon-line-heart norightmargin"></i></a> #}
							</div>
						</div>
					</div>
					{% endfor %}
				</div>
				<div class="slider-arrow-left" class="nobg"><i class="icon-line-arrow-left"></i></div>
				<div class="slider-arrow-right" class="nobg"><i class="icon-line-arrow-right"></i></div>
			</div>
		</section>
{% endif %}