<!DOCTYPE html>
<html {{ function('language_attributes') }}>
<head>

	<meta http-equiv="content-type" content="text/html; charset=utf-8" />

	<!-- Stylesheets
	============================================= -->
	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,400i,700|Raleway:300,400,500,600,700|Crete+Round:400i" rel="stylesheet" type="text/css" />

	<meta name="viewport" content="width=device-width, initial-scale=1" />
	
	
	
	{# <link rel="stylesheet" href="demos/music/music.css" type="text/css" />
	<!-- / -->

	<link rel="stylesheet" href="css/font-icons.css" type="text/css" />
	<link rel="stylesheet" href="one-page/css/et-line.css" type="text/css" />
	<link rel="stylesheet" href="css/animate.css" type="text/css" />
	<link rel="stylesheet" href="css/magnific-popup.css" type="text/css" />

	<link rel="stylesheet" href="demos/music/css/fonts.css" type="text/css" />

	<!-- Bootstrap Switch CSS -->
	<link rel="stylesheet" href="css/components/bs-switches.css" type="text/css" />

	<link rel="stylesheet" href="css/responsive.css" type="text/css" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />

	<!-- Theme color -->
	<link rel="stylesheet" href="css/colors.php?color=ed215e" type="text/css" />

	<!-- Audio Player Plugin CSS -->
	<link rel="stylesheet" href="demos/music/css/mediaelement/mediaelementplayer.css"> #}

	<!-- Document Title
	============================================= -->
	<title>Bhakti group</title>
	{{ function('wp_head') }}
	{% block styles %}{% endblock %}
	
</head>

{# stretched device-xl #}
<body class="{% block body_class %}{% endblock %}" data-loader="4" data-loader-color="theme" style=" background-image: url('/wp-content/themes/bhakti/assets/images2/background.jpg')">

	<!-- Document Wrapper
	============================================= -->
	<div id="wrapper" class="clearfix">

		<!-- Header
		============================================= -->
		{% include 'templates/includes/header.twig' %}
		
		{% block slider %}{% endblock %}

		{% block content %}{% endblock %}

		<!-- Footer
		============================================= -->
		{% include 'templates/includes/footer.twig' %}

	</div><!-- #wrapper end -->

	<!-- Go To Top
	============================================= -->
	<div id="gotoTop" class="icon-angle-up"></div>

	{{ function('wp_footer') }}
	{% block scripts %}{% endblock %}

</body>
</html>