{% extends "templates/base.twig" %}
{% block body_class %}stretched bgcolor2{% endblock %}

{% block styles %}
<style>
	@media (max-width: 479px) {
		.swiper_wrapper:not(.force-full-screen),
		.swiper_wrapper:not(.force-full-screen):not(.canvas-slider-grid) .swiper-slide {
			height: 300px !important;
		}
	}

	.css3-spinner { background-color: #131722; }
</style>

{% endblock %}

{% block content %}
<div class="content-wrap">

	<div class="container clearfix">

		<!-- Posts
		============================================= -->
		<div id="posts" class="post-grid grid-container clearfix" data-layout="fitRows">

			{% for album in albums %}
			<div class="entry clearfix">
				{% if album.thumbnail.src %}
				<div class="entry-image">
					<a href="/music/{{ function('generate_friendly_name', album) }}"><img class="image_fade" src="{{ album.thumbnail.src }}" alt="{{album.post_title}}"></a>
				</div>
				{% endif %}
				<div class="entry-title">
					{# {{ news|print_r }} #}
					<h2><a href="/music/{{ function('generate_friendly_name', album) }}">{{album.post_title}}</a></h2>
					<p>{{ album.subtitle }}</p>
				</div>
				{# <div class="entry-content"> #}
				{# </div> #}
			</div>
			{% endfor %}

		</div><!-- #posts end -->

	</div>

</div>

{% endblock %}