{% extends "templates/base.twig" %}

{% block body_class %}stretched bgcolor2{% endblock %}

{% block styles %}
<style>
	@media (max-width: 479px) {
		.swiper_wrapper:not(.force-full-screen),
		.swiper_wrapper:not(.force-full-screen):not(.canvas-slider-grid) .swiper-slide {
			height: 300px !important;
		}
	}

	.css3-spinner { background-color: #131722; }
</style>

{% endblock %}

{% block content %}

	<section id="content" class="bgcolor2" style="overflow: visible;">
			<div class="content-wrap nopadding">
				<div class="container clearfix" style="z-index: 7;">
				{# ####################################################################### #}
				<div class="row topmargin-lg clearfix">
					{% set album = function('get_music_by_shortcode',post.post_content) %}
					<div class="col-lg-4">
						<img src="{{ 13|get_image_by_id }}" alt="" width="300px" height="280px">
						<div class="heading-block noborder dark" style="margin-bottom: 15px;">
							<h3>{{ post.title }}</h3>
							{# <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</span> #}
							<span>{{ album.0._thumbnail|get_image_by_id }}</span>
						</div>
					</div>
					<div class="col-lg-6">
							{# {{ post|print_r }}s #}
						<!-- Song Lists Items
						============================================= -->
						<div class="songs-lists-wrap">
							<!-- List Items
							============================================= -->
							{% for song in album %}
							<div class="songs-list">
								<div class="songs-number">01</div>
								<div class="songs-image track-image">
									<a href="#" class="track-list"  data-track="{{ song.url }}" data-poster="{{ 13|get_image_by_id }}" data-title="{{ song.name }}" data-singer="{{ song.artist }}">
										<img src="{{ 13|get_image_by_id }}" alt="{{ song.name }}"><span><i class="icon-play"></i></span>
									</a>
								</div>
								<div class="songs-name track-name"><a href="#">{{ song.name }}</a></div>
								<div class="songs-time">{{ song.metadata.length_formatted }}</div>
								<div class="songs-button"><a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="icon-line-ellipsis"></i></a>
									<ul class="dropdown-menu dropdown-menu-right">
										<li>
											<a class="dropdown-item" href="#"><span class="icon-line-plus"></span> Lyrics</a>
											<!-- <a class="dropdown-item" href="#"><span class="icon-music"></span> Add to Playlist</a> -->
											<!--  <a class="dropdown-item" href="#"><span class="icon-line-cloud-download"></span> Download Offline</a> --> 
											<!-- <a class="dropdown-item" href="#"><span class="icon-line-heart"></span> Love</a>
											<div class="dropdown-divider"></div>
											<a class="dropdown-item" href="#"><span class="icon-line-share"></span> Share</a> -->
										</li>
									</ul>
								</div>
							</div>
							{% endfor %}

						</div>
						{# <a href="#" class="button nobg t300 nott fright noleftmargin" style="color: #AAA; padding: 0 16px;">See More..</a> #}
					</div>

					<div class="w-100 d-block d-md-block d-lg-none topmargin-lg clear"></div>
					
				</div>
				
				{# ####################################################################### #}
				</div>
			</div>
	</section>

	<audio id="audio-player" preload="none" class="mejs__player" controls data-mejsoptions='{"defaultAudioHeight": "50", "alwaysShowControls": "true"}' style="max-width:100%;">
		<source src="{{ album.0.url }}" type="audio/mp3">
	</audio>
	<div id="track-onload" data-track="{{ album.0.url }}" data-poster="{{ album.0.thumbnail.src }}" data-title="{{ album.0.name }}" data-singer="{{ album.0.artist }}"></div>

	<!-- Go To Top
	============================================= -->
	<div id="gotoTop" class="icon-angle-up" style="bottom: 70px;"></div>
{% endblock %}



{% block scripts %}

<script>
(function() {
// ------------------------------------------------------------
	// Custom Tab jQuery
		// jQuery( '.tabs' ).on( 'tabsactivate', function( event, ui ) {
		// 	var gridContainerAvailable = jQuery( ui.newPanel ).find('.grid-container');

		// 	if( gridContainerAvailable.length > 0 ) {
		// 		gridContainerAvailable.each( function(){
		// 			var portfolioGrid = jQuery(this);

		// 			if( !portfolioGrid.hasClass('tabs-enabled-grid-container') ) {
		// 				portfolioGrid.isotope('layout');
		// 				jQuery(window).trigger('resize');
		// 				portfolioGrid.addClass('tabs-enabled-grid-container');
		// 			}
		// 		});
		// 	}
		// });

		// Music playing Scripts
		var trackPlaying = '',
			audioPlayer = document.getElementById('audio-player');

		audioPlayer.addEventListener("ended", function(){
			jQuery('.track-list').find('i').removeClass('icon-pause').addClass('icon-play');
		});

		audioPlayer.addEventListener("pause", function(){
			jQuery('.track-list').find('i').removeClass('icon-pause').addClass('icon-play');
		});

		function changeAudio( sourceUrl, posterUrl, trackTitle, trackSinger, playAudio = true ) {
			var audio = $("#audio-player"),
				clickEl = jQuery('[data-track="'+sourceUrl+'"]'),
				playerId = audio.closest('.mejs__container').attr('id'),
				playerObject = mejs.players[playerId];

			jQuery('.track-list').find('i').removeClass('icon-pause').addClass('icon-play');
			if( sourceUrl == trackPlaying ) {
				if (playerObject.paused) {
					playerObject.play();
					clickEl.find('i').removeClass('icon-play').addClass('icon-pause');
				} else {
					playerObject.pause();
					clickEl.find('i').removeClass('icon-pause').addClass('icon-play');
				}
				return true;
			}

			trackPlaying = sourceUrl;

			audio.attr( 'poster', posterUrl );
			audio.attr( 'title', trackTitle );

			jQuery('.mejs__layers').html('').html('<div class="mejs-track-artwork"><img src="'+ posterUrl +'" alt="Track Poster" /></div><div class="mejs-track-details"><h3>'+ trackTitle +'<br><span>'+ trackSinger +'</span></h3></div>');

			if( sourceUrl != '' ) {
				playerObject.setSrc( sourceUrl );
			}
			playerObject.pause();
			playerObject.load();

			if( playAudio == true ) {
				playerObject.play();
				jQuery(clickEl).find('i').removeClass('icon-play').addClass('icon-pause');
			}
		}

		jQuery('.track-list').on( 'click', function(){
			var audioTrack = jQuery(this).attr('data-track'), // Track url
				posterUrl = jQuery(this).attr('data-poster'), // Track Poster Image
				trackTitle = jQuery(this).attr('data-title'); // Track Title
				trackSinger = jQuery(this).attr('data-singer'); // Track Singer Name

			changeAudio( audioTrack, posterUrl, trackTitle, trackSinger );
			return false;
		});

		jQuery(window).on( 'load', function(){
			var trackOnload = jQuery('#track-onload');

			if( trackOnload.length > 0 ) {
				var audioTrack = trackOnload.attr('data-track'), // Track url
					posterUrl = trackOnload.attr('data-poster'), // Track Poster Image
					trackTitle = trackOnload.attr('data-title'); // Track Title
					trackSinger = trackOnload.attr('data-singer'); // Track Singer Name

				setTimeout( function(){
					changeAudio( audioTrack, posterUrl, trackTitle, trackSinger, false );
				}, 500);
			}
		});

// ------------------------------------------------------------
})();

		
	</script>

{% endblock %}