{% extends "templates/base.twig" %}
{% block body_class %}stretched bgcolor2{% endblock %}


{% block content %}

	{% if post.slider is not empty %}
		{% include 'templates/blocks/slider.twig' %}
	{% endif %}
	
	<section id="content">
		<div class="content-wrap">
			{% if post.news is not empty %}
				{% include 'templates/blocks/homepage_news.twig' %}
				{% endif %}
			</div>
		</section>
	{% if post.countdown_datepicker is not empty %}
		{% include 'templates/blocks/homepage_countdown.twig' %}
	{% endif %}
	

{% endblock %}