{% extends "templates/base.twig" %}

{% block body_class %}stretched bgcolor2{% endblock %}

{% block content %}

	<!-- Page Title
	============================================= -->
	<section id="page-title">

		<div class="container clearfix">
			<h1>News</h1>
		</div>

	</section><!-- #page-title end -->
	{% if news is not empty %}
		{% include 'templates/blocks/homepage_news.twig' %}
	{% endif %}

{% endblock %}