{% extends "templates/base.twig" %}
{% block body_class %}stretched bgcolor2{% endblock %}

{% block content %}

<section id="content">

	<div class="content-wrap">

		<div class="container clearfix">

			<div class="single-post nobottommargin">

				<!-- Single Post
				============================================= -->
				<div class="entry clearfix">

					<!-- Entry Title
					============================================= -->
					<div class="entry-title">
						<h2>{{ post.post_title }}</h2>
					</div><!-- .entry-title end -->

					<!-- Entry Meta
					============================================= -->
					<ul class="entry-meta clearfix">
						<li><i class="icon-calendar3"></i> {{ post.post_date }}</li>
						{# <li><a href="#"><i class="icon-user"></i> admin</a></li> #}
						{# <li><i class="icon-folder-open"></i> <a href="#">General</a>, <a href="#">Media</a></li> #}
					</ul><!-- .entry-meta end -->

					<!-- Entry Image
					============================================= -->
					{% if post.thumbnail.src is not empty %}
					<div class="entry-image bottommargin">
						<img src="{{ post.thumbnail.src }}" alt="Blog Single">
					</div><!-- .entry-image end -->
					{% endif %}

					<!-- Entry Content
					============================================= -->
					<div class="entry-content notopmargin">
						{{ post.post_content }}

					</div>
				</div><!-- .entry end -->

			</div>

		</div>

	</div>

</section><!-- #content end -->

{% endblock %}